@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <title>ANA SAYFA</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-1">
            WEB SİTESİ ÇALIŞIYOR BU İYİ BİR HABER
        </h1>
    </div>
</body>
</html>
